.konten {
    margin-top: 20px;
    flex-wrap: wrap;
    align-content: center;
}

.ttd {
    margin-top: 100px;
}

#table {
    font-family: sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size: 12px;
}

#table td,
#table th {
    border: 1px solid #ddd;
    padding: 8px;
}

#table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#table tr:hover {
    background-color: #ddd;
}

#table tr th {
    text-align: center;
}

#table th {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    background-color: grey;
    color: white;
}

.line-title {
    border: 0;
    border-style: inset;
    border-top: 3px solid #000;
}

.image {
    align-items: flex-start;
}